html {
    scroll-snap-type: y mandatory;
}

.app {
    height: 100vh;
    overflow: hidden;
    background: black;
    display: grid;
    place-items: center;
}

.videos-container {
    position: relative;
    height: 80vh;
    width: 80%;
    max-width: 500px;
    border-radius: 20px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

/* Trick to Hide scroll bar from Chrome, Safari and Opera */
.videos-container::-webkit-scrollbar {
    display: none;
}

/* Trick to Hide scroll bar from IE, Edge and Firefox */
.videos-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}